<!DOCTYPE html>
<html>

<head>
    <title>提交信息</title>
</head>

<body>
    <h1>提交信息</h1>
    <form method="POST" action="/">
        <label for="name">姓名：</label>
        <input type="text" name="name" required><br>

        <label for="phone">电话：</label>
        <input type="text" name="phone" required><br>

        <label for="id_number">身份证号码：</label>
        <input type="text" name="id_number" required><br>

        <label for="car_number">车牌号：</label>
        <input type="text" name="car_number" required><br>

        <label for="phone_teacher">导师电话：</label>
        <input type="text" name="phone_teacher" required><br>

        <label for="id_department">系别ID：</label>
        <input type="text" name="id_department" required><br>

        <label for="department">系别：</label>
        <input type="text" name="department" required><br>

        <label for="id_teacher">导师ID：</label>
        <input type="text" name="id_teacher" required><br>

        <label for="name_teacher">导师姓名：</label>
        <input type="text" name="name_teacher" required><br>

        <label for="dormitory">宿舍：</label>
        <input type="text" name="dormitory" required><br>

        <label for="card">卡号：</label>
        <input type="text" name="card" required><br>

        <input type="submit" value="提交">
    </form>
</body>

</html>